.feed {
    flex:0.5;
    margin: 1rem 2rem;
}
.create__post{
    background:#fff;
    border-radius: 1rem;
    padding:1rem
}

.input {
    display: flex;
    align-items: center;
    padding:1.4rem 2rem;
    border:1px solid rgba(128, 128, 128, 0.183);
    border-radius: 3rem;
}

.input form > input{
    font-size: 1.8rem;
    font-weight: 800;
    width: 80%;
    outline: none;
    border:none;
}
.input >form{
    position: relative;
    width: 100%;
}
.input form > button{
    color:#fff;
    background: rgb(126, 168, 202);
    padding: 0.4rem 1.5rem;
    border-radius: .5rem;
    border:none;
    outline: none;
    display: inline;
    position: absolute;
    cursor: pointer;
    right: 0;
}
.input__options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    cursor: pointer;
}
.input__options > .input__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem 1rem;
    border-radius: 1rem;
}
.input__item:hover{
    background: rgba(128, 128, 128, 0.212);
}
.input__item h3{
    color:gray;
    font-size: 2rem;
    margin-left: 1rem;
}