
.sidebar {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.sidebar__top {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid rgba(128, 128, 128, 0.179);
}
.sidebar__top img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: -3rem;
}
.avatar {
  border: 2px solid #fff;
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1.2rem 0;
}
hr {
  height: 0.1rem;
  margin: 2rem 0;
  width: 100%;
}
.sidebar__top h3 {
  color: gray;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 3rem;
}
h3 > span {
  color: steelblue;
  font-weight: 900;
}
.sidebar__bottom {
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.179);
  padding: 2rem;
  background: #fff;

  margin-top: 1rem;
}
.sidebar__bottom h3{
    font-size: 2rem;
    margin: 1rem 0;
}
.sidebar__bottom .recent{
    color:rgb(117, 116, 116);
    font-size: 2rem;
    font-weight: 900;
}