
.widgets{
    flex:0.27;
    background: #fff;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}
.widgets h2{
    font-weight: normal;
    color: gray;
    display: flex;
}
.widgets > h2 > .input__item{
    display: inline;
    margin-left: 1rem;
}
.widget__sub {
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.widget__sub:hover{
    background:gainsboro;
}
.widget__sub h3{
    font-size: 2rem;
}
.widget__sub p{
    font-size: 1.8rem;
    color:gray;
    margin-left: 2rem;
}
.widgets a{
    color: rgb(21, 122, 206);
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    padding: 1rem 0.3rem;
}
.widgets a:hover{
    background:gainsboro;
}
.widget__sub .input__item {
    display: inline;
    visibility: hidden;
}
.widget__sub:hover .input__item{
   visibility: visible;
}