
*{
    margin:0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    background-color: rgba(128, 128, 128, 0.122);
}
.app__body {
    display: flex;
    margin: 0 8%;
    align-items: start;
  }
  